# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation
---
- op: add
  path: /spec/containers/0/volumeMounts/-
  value:
    mountPath: {{ isecl_k8s_extensions }}
    name: extendedsched
    readOnly: true

- op: add
  path: /spec/containers/0/command/-
  value: --policy-config-file={{ isecl_k8s_extensions }}/scheduler-policy.json

- op: add
  path: /spec/volumes/-
  value:
    hostPath:
      path: {{ isecl_k8s_extensions }}
      type:
    name: extendedsched
