# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation

#Kubernetes Distribution microk8s or kubeadm
K8S_DISTRIBUTION=kubeadm
K8S_DEPLOY_TOOL=helm
K8S_CONTROL_PLANE_IP={{ isecl_k8s_control_plane_ip }}
K8S_CONTROL_PLANE_HOSTNAME={{ isecl_k8s_control_plane_hostname }}

# cms
#CMS_BASE_URL=https://cms-svc.isecl.svc.cluster.local:8445/cms/v1
CMS_BASE_URL=https://{{ isecl_control_plane_ip }}:30445/cms/v1
CMS_SAN_LIST=cms-svc.isecl.svc.cluster.local,{{ isecl_control_plane_ip }}
CMS_K8S_ENDPOINT_URL=https://{{ isecl_control_plane_ip }}:30445/cms/v1

# authservice
#AAS_API_URL=https://aas-svc.isecl.svc.cluster.local:8444/aas/v1
AAS_API_URL=https://{{ isecl_control_plane_ip }}:30444/aas/v1
AAS_API_CLUSTER_ENDPOINT_URL=https://{{ isecl_control_plane_ip }}:30444/aas/v1
AAS_ADMIN_USERNAME=admin@aas
AAS_ADMIN_PASSWORD=aasAdminPass
AAS_DB_USERNAME=aasdbuser
AAS_DB_PASSWORD=aasdbpassword
AAS_DB_HOSTNAME=aasdb-svc.isecl.svc.cluster.local
AAS_DB_PORT="5432"
AAS_DB_NAME=aasdb
AAS_DB_SSLMODE=verify-full
AAS_DB_SSLCERT=/etc/postgresql/server.crt
AAS_SAN_LIST=aas-svc.isecl.svc.cluster.local,{{ isecl_control_plane_ip }}

NATS_ACCOUNT_NAME=ISecL-account
NATS_SERVERS=nats://{{ isecl_control_plane_ip }}:30222
NATS_TLS_COMMON_NAME="NATS TLS Certificate"
NATS_CERT_COMMON_NAME="NATS TLS Certificate"

# Host Verification Service
HVS_SERVICE_USERNAME=admin@hvs
HVS_SERVICE_PASSWORD=hvsAdminPass
HVS_DB_USERNAME=hvsdbuser
HVS_DB_PASSWORD=hvsdbpassword
HVS_DB_HOSTNAME=hvsdb-svc.isecl.svc.cluster.local
HVS_DB_NAME=hvsdb
HVS_CERT_SAN_LIST=hvs-svc.isecl.svc.cluster.local,{{ isecl_control_plane_ip }}
HVS_DB_SSLCERTSRC=/etc/postgresql/server.crt
HVS_DB_PORT="5432"
#HVS_URL=https://hvs-svc.isecl.svc.cluster.local:8443/hvs/v2/
HVS_URL=https://{{ isecl_control_plane_ip }}:30443/hvs/v2/
HVS_BASE_URL=https://{{ isecl_control_plane_ip }}:30443/hvs/v2

# ihub bootstrap
IHUB_SERVICE_USERNAME=admin@hub
IHUB_SERVICE_PASSWORD=hubAdminPass
IH_CERT_SAN_LIST=ihub-svc.isecl.svc.cluster.local,edge-worker-node,{{ isecl_control_plane_ip }}
# For microk8s
# K8S_API_SERVER_CERT=/var/snap/microk8s/current/certs/server.crt
# For Kubeadm
K8S_API_SERVER_CERT=/etc/kubernetes/pki/apiserver.crt
# This is valid for multinode deployment, should be populated once ihub is deployed successfully
IHUB_PUB_KEY_PATH=/etc/ihub/ihub_public_key.pem

# TrustAgent
# e.g TA_CERT_SAN_LIST=*.example.com,192.168.1.*
TA_CERT_SAN_LIST={{ ansible_ssh_host }}
TPM_OWNER_SECRET=
TA_SERVICE_MODE=outbound
TA_HOST_ID={{ ansible_hostname }}

# ISecl Scheduler
# For microk8s
# K8S_CA_KEY=/var/snap/microk8s/current/certs/ca.key
# K8S_CA_CERT=/var/snap/microk8s/current/certs/ca.crt
# For Kubeadm
# K8S_CA_KEY=/etc/kubernetes/pki/ca.key
# K8S_CA_CERT=/etc/kubernetes/pki/ca.crt
K8S_CA_KEY=/etc/kubernetes/pki/ca.key
K8S_CA_CERT=/etc/kubernetes/pki/ca.crt

# populate users.env
ISECL_INSTALL_COMPONENTS="AAS,TA,IHUB"

GLOBAL_ADMIN_USERNAME=global_admin_user
GLOBAL_ADMIN_PASSWORD=globalAdminPass

INSTALL_ADMIN_USERNAME=admin
INSTALL_ADMIN_PASSWORD=adminPass

WPM_SERVICE_USERNAME=
WPM_SERVICE_PASSWORD=

CUSTOM_CLAIMS_COMPONENTS=
CCC_ADMIN_USERNAME=
CCC_ADMIN_PASSWORD=

