# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2021 Intel Corporation

# Common values
namespace: telemetry
pullPolicy: IfNotPresent
component: cadvisor
projectDir: "{{ project_dir }}"
# cAdvisor Values
cadvisor:
  image: registry.cn-shanghai.aliyuncs.com/joez/cadvisor:v0.43.0
  name: cadvisor
  resources:
    requests:
      cpu: "0.1"
    limits:
      cpu: "1"
      memory: "2Gi"
  disabledMetrics: "percpu,diskIO,tcp,udp,disk,sched"
  storeContainerLabels: false
  maxHousekeepingInterval: "30s"
  dockerOnly: true

# Proxy Values
proxy:
  metricsCadvisorPort: "{{ telemetry_cadvisor_port }}"
  internalCadvisorPort: 9106
  serverName: "{{ _proxy_server_name }}"
  name: cadvisor-proxy
  certsDest: /opt/cadvisor/certs
  image: nginxinc/nginx-unprivileged
  tag: 1.20-alpine
  pathToNginxCfg: /etc/nginx/nginx.conf
  configMap: cadvisor-proxy-config
  protocols: TLSv1.2 TLSv1.3
  secretName: "{{ _proxy_secret_name }}"
  ciphers:
    - "TLS_AES_256_GCM_SHA384"
    - "ECDHE-RSA-AES256-GCM-SHA384"
    - "ECDHE-ECDSA-AES256-GCM-SHA384"

# Service Monitor
sm:
  secretName: "{{ telemetry_prometheus_tls_secret_name }}"
