# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

Interval {{ (telemetry_prometheus_scrape_interval_seconds/2) | round(0,'floor') | int }}
LoadPlugin logfile
<Plugin logfile>
  LogLevel {{ telemetry_collectd_log_level }}
  File STDOUT
  Timestamp true
</Plugin>

LoadPlugin network
<Plugin network>
  Server "localhost" "25826"
</Plugin>

LoadPlugin cpu
LoadPlugin cpufreq
LoadPlugin load
