# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.9.27"
ansible-lint = "==5.0.8"
jinja2 = "==3.0.3"
pylint = "==2.7.2"
netaddr = "==0.7.18"
sh = "==1.14.1"
# Force 3.2 due to security vulnabilities in 3.4.6
cryptography = "==3.3.2"
jmespath = "*"

[requires]
python_version = "3"
