# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2021 Intel Corporation

#Common values
namespace: telemetry
pullPolicy: IfNotPresent
component: collectd
projectDir: "{{ project_dir }}"

#Collectd Values
collectd:
  image: opnfv/barometer-collectd:stable
  replicas: 1
  name: collectd
  resources:
    requests:
      cpu: "0.1"
    limits:
      cpu: "1"
      memory: "2Gi"

#Proxy Values
proxy:
    metricsCollectdPort: 9103
    internalCollectdPort: 9104
    serverName: "{{ _proxy_server_name }}"
    name: collectd-proxy
    certsDest: /root/certs/collectd
    image: nginx:alpine
    pathToNginxCfg: /etc/nginx/nginx.conf
    configMap: collectd-proxy-config
    secretName: "{{ _proxy_secret_name }}"
    protocols: TLSv1.2 TLSv1.3
    ciphers:
      - "TLS_AES_256_GCM_SHA384"
      - "ECDHE-RSA-AES256-GCM-SHA384"
      - "ECDHE-ECDSA-AES256-GCM-SHA384"

exporter:
  name: exporter
  image: prom/collectd-exporter
  typesDBMap: types-db
