# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019-2020 Intel Corporation

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v{{ _kubernetes_version }}
controllerManager:
  extraArgs:
    terminated-pod-gc-threshold: "600"
apiServer:
  extraArgs:
    event-ttl: "48h0m0s"
    tls-min-version: "VersionTLS12"
    tls-cipher-suites: "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
{% if pwek_enable is defined and pwek_enable %}
    service-node-port-range: "20000-39999"
{% endif %}
    feature-gates: "DownwardAPIHugePages=True"
