# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2022 Intel Corporation

attrs==21.4.0
bcrypt==3.2.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
distro==1.6.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
idna==3.3
importlib-metadata==4.8.3
jsonschema==3.2.0
paramiko==2.9.3
pycparser==2.21
PyNaCl==1.5.0
pyrsistent==0.18.0
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
texttable==1.6.4
typing_extensions==4.0.1
urllib3==1.26.8
websocket-client==0.59.0
zipp==3.6.0
