# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation

tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists

webhook:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists

cainjector:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists

startupapicheck:
    tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists
