# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2022 Intel Corporation

---
_pv_dir: "{{ _persistent_volumes_dest }}/grafana"
_pv_name: grafana-volume

_grafana_helm_repo:
  url: https://grafana.github.io/helm-charts
  version: "6.24.0"
  name: grafana

_grafana_release_name: grafana

_grafana_chart_dir: "{{ ne_helm_charts_default_dir }}/grafana"

# Timeout for Grafana helm installation and checking pod readiness
_grafana_timeout: 1800s

_proxy_server_name: grafana
_proxy_secret_name: grafana-tls
_proxy_image: nginxinc/nginx-unprivileged
_proxy_image_tag: 1.20-alpine
_proxy_user_id: 101
